* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-image: url('media/cork.jpg');
	font-family: 'Arvo', sans-serif;
} 

a {
	color: green;
	text-decoration: underline;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

img, a img {
	border: none; /* remove the box around a picture */
}

h1, h2 {
	font-family: 'Rock Salt', sans-serif;
	padding-right: 10px;
	display: inline;
}

h3, h4 {
	display: inline;
}


/* There's still a slight mix of widths with percent vs. pixels
this should be resolved at some point. Still leaving the option
open to go to a fluid width scheme, but for now it's fixed width,
even though it's using percents everywhere. bad form. */

#wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 900px;	
	padding: 0 30px;
}


#header {
	width: 100%;
}

#banner {
	width: 30%;
	float: left;
	font-family: 'Rock Salt', sans-serif;
	font-size: 40px;
	display: inline;
}

#navigation {
	width: 70%;
	float: right;
	clear: right;
	display: inline;
	font-size: 25px;
	text-align: right;
}

#navigation ul {
	float: right;
	list-style-type: none;
}

#navigation ul li{
	float: left;
	display: inline;
	padding-top: 35px;
	margin: 10px 20px;
}

#navigation ul li a{
	text-decoration: none;
	color: black;
}

#navigation ul li a:hover {
	color: green;
}

#upperFoot {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;
}

#footer {
	width: 100%;
	float: left;
	margin-top: 50px;
	text-align: center;
	font-size: 10px;
}


/*-------------------------------------------------------
INDEX.html
-------------------------------------------------------*/

.photoswap {
	width: 540px;
	float: left;
	height: 220px;
	display: none;
}

#student-photo {
	background-image: url('media/student.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

#engineer-photo {
	background-image: url('media/engineer.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

#explorer-photo {
	background-image: url('media/explorer.png');
	background-repeat: no-repeat;
	background-position: top;
}

#aboutMe {
	width: 360px;
	float: left;
	height: 220px;
	text-align: center;
	font-family: 'Rock Salt', 'Arvo', sans-serif;
	font-size: 40px;
	color: black;
	background-color: rgba(150,150,150,0.3);
}

.tab {
	font-size: 15px;
	margin: 0 5px;
	display: inline-block;
	color: black;
}

.magic {
	font-family: 'Arvo', sans-serif;
	text-align: center;
	font-size: 16px;
	display: none;
	padding: 10px;
}

.col1 {
	float: left;
	width: 100%;
	height: 20px;
}



/*-------------------------------------------------------
PROJECTS.html
-------------------------------------------------------*/

#projects {
	clear: left;
	width: 80%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.project {
	width: 93%;
	float: left;
	margin-bottom: 5%;
	border: 3px;
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	padding: 5px;
	box-shadow: 5px 5px 3px #888888;
	background-color: rgba(50,150,255,.3);
}

.project-date {
	/* date is rendered BELOW the description, then spun UP to meet */
	float: right;
	text-align: right;
	font-weight: bold;
	color: green;
	padding-top: 5px; /*increase moves left */
	padding-right: 50px; /*increase moves up */

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: top right;
}

/*-------------------------------------------------------
INTERESTS.html
-------------------------------------------------------*/

.col3contain{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	
}

.col3 {
	float: left;
	width: 200px;
	background-color: rgba(128,128,128,.5);
}

.col3space{
	float: left;
	width: 100px;
	height: 440px;
	background-color: rgba(128,128,128,.5);
}

.spark {
	height: 185px;
	width: 200px;
	margin-bottom: 20px;
	/*border-style: solid;*/
	border-radius: 50px;
	/*border-color: rgba(0,0,0,.3);*/
	/*background-color: rgba(128,128,128,.5);*/
	vertical-align: center;
	text-align: center;
	font-size: 25px;
	padding-top: 15px;


}