* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-image: url('media/cork4.jpg');
	font-family: 'Arvo', sans-serif;
} 

a {
	color: green;
	text-decoration: underline;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

img, a img {
	border: none; /* remove the box around a picture */
}


/* There's still a slight mix of widths with percent vs. pixels
this should be resolved at some point. Still leaving the option
open to go to a fluid width scheme, but for now it's fixed width,
even though it's using percents everywhere. bad form. */

#wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 900px;	
	padding: 0 30px;
}


#header {
	width: 100%;
}

#banner {
	width: 30%;
	float: left;
	font-family: 'Rock Salt', sans-serif;
	font-size: 40px;
	display: inline;
}

#navigation {
	width: 70%;
	float: right;
	clear: right;
	display: inline;
	font-size: 25px;
	text-align: right;
}

#navigation ul {
	float: right;
	list-style-type: none;
}

#navigation ul li{
	float: left;
	display: inline;
	padding-top: 35px;
	margin: 10px 20px;
}

#navigation ul li a{
	text-decoration: none;
	color: black;
}

#navigation ul li a:hover {
	color: green;
}

#photo {
	width: 60%;
	float: left;
	height: 220px;
	background-image: url('media/me.png');
	background-repeat: no-repeat;
	background-position: top;

}

#aboutMe {
	width: 40%;
	float: left;
	height: 220px;
	text-align: center;
	font-family: 'Rock Salt', 'Arvo', sans-serif;
	font-size: 40px;
	color: black;
	background-color: lightblue;
	opacity: .6;
}

.tab {
	font-size: 15px;
	margin: 0 5px;
	display: inline-block;
}

.magic {
	font-family: 'Arvo', sans-serif;
	text-align: center;
	font-size: 16px;
	display: none;
	padding: 10px;
}

.col1 {
	float: left;
	width: 100%;
	height: 0px;
}

#upperFoot {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 6px;
}

#footer {
	width: 100%;
	float: left;
	margin-top: 50px;
	text-align: center;
	font-size: 10px;
}


/*-------------------------------------------------------
PROJECTS.html
-------------------------------------------------------*/

#projects {
	clear: left;
	width: 80%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.project {
	margin: 20px;
	background-color: lightgray;
}