* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-image: url('media/cork4.jpg');
	font-family: 'Arvo', sans-serif;
}  

#wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;

	/*min-width: 600px; */
	width: 900px;	
	padding: 0 30px;
	
}


#header {
	width: 100%;
}

#banner {
	width: 30%;
	float: left;
	font-family: 'Rock Salt', sans-serif;
	font-size: 40px;
	display: inline;
}

#navigation {
	width: 70%;
	float: right;
	clear: right;
	display: inline;
	font-size: 25px;
	text-align: right;
}

#navigation ul {
	float: right;
	list-style-type: none;
}

#navigation ul li{
	float: left;
	display: inline;
	padding-top: 35px;
	margin: 10px 20px;
}

#navigation ul li a{
	text-decoration: none;
	color: black;
}

#navigation ul li a:hover {
	color: green;
}



h1, h2, h3{
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 10px;
	padding-bottom: 2px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 20px;
}

h4, h5, {
	font-family: 'Open Sans Condensed', sans-serif;
}

h4 {
	font-size: 35px;
}

h5 {
	font-size: 20px;
	t
}

p {
}

a {
	color: blue;
	text-decoration: underline;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

img, a img {
	border: none; /* remove the box around a picture */
}

ul {
	padding-left: 30px;
	text-align: left;
}


#photo {
	width: 60%;
	float: left;
	height: 220px;
	background-image: url('media/me.png');
	background-repeat: no-repeat;
	background-position: top;

}

#aboutMe {
	width: 40%;
	float: left;
	height: 220px;
	text-align: center;
	font-family: 'Rock Salt', 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	color: black;
	background-color: white;
	opacity: 0.5;

	;
}

.tab {
	font-size: 15px;
	margin: 0 5px;
	display: inline-block;
}

.magic {
	font-family: 'Arvo', sans-serif;
	text-align: center;
	font-size: 16px;
	display: none;
	padding: 10px;
}

.col1 {
	float: left;
	width: 100%;
	height: 0px;
}

.col3 {
	width: 23%;
	float: left;
	height: 75px;
	padding-left: 2%;
	padding-right: 2%;	
}

.col3buff {
	width: 9.5%;
	float: left;
	height: 75px;
}

#greenbar {
	height: 15px;
	background-color: green;
}

#upperFoot {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 6px;
}

#footer {
	width: 100%;
	float: left;
	margin-top: 50px;
	text-align: center;
	font-size: 10px;
}